
  .header{
    display: flex;
    background-color: rgb(18, 72, 18);
    height: 90px;
    width: 100%;
    position:sticky;
    top: 0px;
    justify-content: space-between;
  }
  
  h1 {
    color: #ffffff;
    margin-left: 600px;
    position: fixed;
}

h3 {
    color: #ffffff;
    margin-left: 600px;
    display: flex;
    margin: 1rem;
}

.header img {
    width: 250px;
    height: 100px;
}


   

  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(198, 233, 55);
    width: 130px;
}

.flex-container a{
  color: #ffffff;
  text-decoration: none;
}
  
.flex-container > div {
    background-color: #458354;
    width: 95px;
    margin: 20px;
    padding: 0px;
    text-align: center;
    line-height: 70px;
    font-size: 10px;
}

body{
  margin: 0px;
}

  


.divall{
  display: flex;
  justify-content: space-around;
}


.divall{ 
  width: 80vw;
  margin: 0 auto;
  min-height: calc(100vh - 80px - 80px);
 display: flex;
 justify-content: space-around;
 
}

.divall img{
  float: left;
  
}

.divall p{
  margin: 1rem;
  float: left;
  
}

.div1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
}


body{
  background-color: rgb(60, 117, 60);
}

.div2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
}


.div3{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
}


.footer {
  background-color: rgb(18, 72, 18);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links {
  margin-left: 200px;
  color: #ffffff;
  text-decoration: none;
}


.divall {
  position: absolute;
  bottom: -150px;
  left: 150px;
}

.h2li{
  
    position: absolute;
    bottom: -450px;
    left: 150px;
}

.h2link{
  position: absolute;
  bottom: -300px;
  left: 150px;
}


  